<font size='2'>
<br><br>
-------------------------------- Wholesale ------------------------------------
<br><br>
<form action='/calculatewhp' method='post'>
  <input type='number' name='costs' placeholder='Cost of materials'>
  <input type='number' name='minutes' placeholder='time spent in minutes'>
  £ <input id="rpm" type="number" placeholder="0.34" max="10.00" min="0.2" name="rate_per_min" step="0.01"  />
    <label for="rpm">(rate per min)</label>

  £ <input id="wholesale_markup" type="number" placeholder="2.00" max="10" min="0.5" name="wholesale_markup" step="0.1"  />
    <label for="wholesale_markup">(wholesale markup)</label>

  <input type='submit' value='Calculate Wholesale'/>
</form>
<br>


<br><br>
<% unless (@wp_result == 0 || @wp_result == nil) %> Wholesale price = <%= @wp_result %> <% end %>

<br><br>
--------------------------------- Retail --------------------------------------

<br><br>
<form action='/calculaterrp' method='post'>
  <input type='text' name='wholesale_price' placeholder="<%= @wp_result ||= 'Wholesale price' %>" >
  £ <input id="rrp_markup" type="number" placeholder="2.50" max="10" min="0.5" name="rrp_markup" step="0.1"  />
    <label for="rrp_markup">(Retail price markup)</label>
  <input type='submit' value='Calculate RRP'/>
</form>
<br>
<% unless (@rrp_result == 0 || @rrp_result == nil)  %> Retail price = <%= @rrp_result %> <% end %>
<br><br></font>
