Calculators...
<br><br>
<form action='/calculator' method='post'>
  <input type='text' name='costs' placeholder='Cost of materials'>
  <input type='text' name='minutes' placeholder='time spent in minutes'>
  <input type='submit' value='Calculate Wholesale'/>
</form>
